{{define "index"}}
{{template "_header"}}
    <section class="site-blocks-cover overflow-hidden bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-7 align-self-center text-center text-md-left">
            <div class="intro-text">
              <h1>Bill Gates<span class="d-md-block"></span></h1>
              <p class="mb-4">"Don’t compare yourself with anyone in this world. if you do so,<span class="d-block"> you are insulting yourself."</p>
            </div>
          </div>
          <div class="col-md-5 align-self-end text-center text-md-right">
            <img src="static/images/astronaut.png" alt="Image" class="img-fluid cover-img">
          </div>
        </div>
      </div>
    </section> 

    <section class="site-section" id="about-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-5 align-self-center mr-auto text-left heading-section mb-5">
            <div class="stars ml-4">
              <span class="icon-cubes"></span>
            </div>
            <h2 class="text-black mb-3">About Me</h2>
            <p class="lead">Halo kamu yang ada didepan layar yang sedang membaca tulisan ini, kenalan yuk ? <br> <i style="color: black">Balas ke email ya hehehe.. kalau mau :)</i></p>
            <p class="text-muted mb-4">Aku Leonardus Fernando Purba, umur masih muda, pernah kuliah (lulus walaupun telat) dan sekarang berkerja sebagai software engineer dan berfokus pada bidang web development. Beberapa bahasa pemrograman yang aku kuasai yaitu PHP, JavaScript, Go, dan MySql. Saat ini sedang mencoba untuk mendalami bahasa Go dan website ini merupakan salah satu web yang dikembangkan dengan Go. </p>
            <p>Isi konten yang ada di website ini tentu masih ada kekurangannya. Kesalahan kecil pasti ada, segala masukan yang positif sangat diperlukan dari kamu :)</p>
            <ul class="list-unstyled ul-paw primary mb-0">
              <li> Kok ada covid-19 ? karena sedang viral..</li>
            </ul>
            
          </div>
          <div class="col-lg-6 text-left heading-section mb-5"  data-aos="fade-up" data-aos-delay="100">
            <!-- <a  data-fancybox data-ratio="1.5" href="JavaScript:void(0)" class="video-img"> -->
              <!-- <span class="play">
                <span class="icon-play"></span>
              </span> -->
              <img src="static/images/astronaut4.png" alt="Image" class="img-fluid">
            <!-- </a> -->
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="blog-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <div class="stars">
              <span class="icon-cubes"></span>
            </div>
            <h2 class="text-black mb-2">Go-Le Blog</h2>
            <p>Coming Soon!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="static/images/dogger_img_sm_1.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Coming Soon!</a></h3>
                <span class="post-meta mb-3 d-block">January 22, 2019</span>
                <p>No data bro.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4" data-aos="fade-up"  data-aos-delay="100">
            <div class="d-lg-flex blog-entry">
              <figure class="mr-4">
                <a href="single.html"><img src="static/images/dogger_img_sm_2.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="blog-entry-text">
                <h3><a href="single.html">Coming Soon!</a></h3>
                <span class="post-meta mb-3 d-block">January 22, 2019</span>
                <p>No data bro.</p>
                <p><a href="#" class="">Read More..</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="site-section " id="covid-19-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <div class="stars">
              <span class="icon-cubes"></span>
            </div>
            <h2 class="text-black mb-2">Covid-19</h2>
            <p>COVID-19 adalah penyakit menular yang disebabkan oleh coronavirus jenis baru. Virus dan penyakit baru ini tidak diketahui sebelumnya, wabahnya dimulai di Wuhan, Cina, pada bulan Desember 2019. <br><i>sumber: www.who.int</i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            
            <div class="block_service">
              <img src="static/images/dogger_checkup.svg" alt="Image mb-5">
              <h3>Gejala</h3>
              <p>Gejala COVID-19 yang paling umum adalah demam, kelelahan, dan batuk kering. Beberapa pasien mungkin mengalami sakit dan nyeri, hidung tersumbat, pilek, sakit tenggorokan atau diare. Gejala-gejala ini biasanya ringan dan mulai secara bertahap.</p>
            </div>

          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="100">
            <div class="block_service">
              <img src="static/images/dogger_dermatology.svg" alt="Image mb-5">
              <h3>Kewaspadaan</h3>
              <p>Dalam Beberapa kasus, ada orang yang telah terinfeksi tetapi tidak menampakan gejala apa pun dan tidak merasa sakit. Kebanyakan orang (sekitar 80%) pulih dari penyakit ini tanpa perlu perawatan khusus. </p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="block_service">
              <img src="static/images/dogger_bones.svg" alt="Image mb-5">
              <h3>Perlu Perhatian</h3>
              <p>Sekitar 1 dari setiap 6 orang yang terkena COVID-19 mengalami sakit parah dan kesulitan bernapas. Orang yang lebih tua, dan mereka yang memiliki masalah medis seperti tekanan darah tinggi, masalah jantung atau diabetes, lebih mungkin untuk menyebabkan penyakit lebih serius. </p>
            </div>
          </div>


          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="">
            
            <div class="block_service">
              <img src="static/images/dogger_veterinary.svg" alt="Image mb-5">
              <h3>Perlindungan</h3>
              <p>Kurangi aktivitas di luar rumah untuk menghindari meluasnya penyebaran penyakit ini. Jika Anda mengalami demam, batuk dan kesulitan bernapas, segera cari bantuan medis. </p>
            </div>

          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="100">
            <div class="block_service">
              <img src="static/images/dogger_dryer.svg" alt="Image mb-5">
              <h3>Pencegahan</h3>
              <p>Secara teratur, bersihkan tangan Anda secara menyeluruh dengan alcohol-based hand rub atau cuci dengan sabun dan air. Pastikan Anda, dan orang-orang di sekitar Anda untuk tidak batuk atau bersin sembarangan. </p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="block_service">
              <img src="static/images/dogger_veterinarian.svg" alt="Image mb-5">
              <h3>Keep up to date</h3>
              <p>Dapatkan informasi terkini tentang COVID-19 (kota atau area lokal di mana COVID-19 menyebar). Jika memungkinkan, hindari bepergian jauh, terutama jika Anda adalah orang yang sudah tua atau menderita diabetes, penyakit jantung atau paru-paru. </p>
            </div>
          </div>
            
        </div>
      </div>
    </section>

    
    
    <section class="" id="contact-section">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-6 bg-primary">
            <form action="#" class="p-5 contact-form">
              
              <h2 class="h4 mb-5 heading">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-dark btn-md text-white">
                </div>
              </div>

  
            </form>
          </div>
          <div class="col-lg-6 bg-secondary">
            <div class="row justify-content-center align-items-center h-100">
              <div class="col-lg-6 text-center heading-section mb-5 align-self-center">
                <div class="stars">
                  <span class="icon-cubes"></span>
                </div>
                <h2 class="text-white mb-5">Contact Me</h2>
                <ul class="list-unstyled text-left address">
                  <li>
                    <span class="d-block">Address:</span>
                    <p>Planet Bumi, Galaksi Bima Sakti</p>
                  </li>
                  <li>
                    <span class="d-block">Phone:</span>
                    <p>+(62) - </p>
                  </li>
                  <li>
                    <span class="d-block">Email:</span>
                    <p>2leopurba@gmail.com</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{{template "_footer"}}
{{end}}
